@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body div section {
    margin: 2em auto 2em;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0; /*margin: fuera del elemento*/
    padding: 0; /*padding: dentro del elemento*/
}

/* La manera de referenciar una clase en CSS es .nombre_clase */
.container {
    text-align: center;
    padding: .8em 1.2em;
}

.curso-container {
    text-align: center;
    padding: .8em 1.2em;
    background: #F6F6F6;
}

.curso-container a {
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.logo {
    width: 100px;
    height: 62px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

.server {
    width: 70%;
}

.knowledge {
    width: 100%;
    margin: 1em auto 1em;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

.blue-container {
    width: 100%;
    background: #30469C;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.blue-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #30469C;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.blue-container ul {
    transform: skewY(2deg);
}

.blue-container ul li {
    margin-bottom: 3em;
}

.blue-container ul li p {
    padding: 0 .5em;
}

.blue-container img {
    width: 14%;
}

.blue-container .container h1 {
    transform: skewY(2deg)
}

.lista-de-personas{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.blue-container ul li .imagen-socio {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, .3);
    margin: 0 0 40px;
}

#imagen-problema {
    width: 8%;
}

.gray-container {
    background: #F6F6F6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #30469C;
}

h2 {
    margin-top: 7%;
}

.cta {
    background: #30469C;
    width: calc(100% -1em);
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
}

.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
}

.footer-container .container {
    transform: skewY(-2deg);
}

.footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #3D444A;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.footer-container::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    border-radius: 50%;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;
}

.nav-menu ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49,55,59);
}

.nav-menu ul li a:hover {
    background-color: rgb(65, 73, 78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.lista-de-contenido {
    width: 100%;
    background: #30469C;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    
    transform: skewY(-2deg);

    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
}

.lista-de-contenido:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #30469C;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.lista-de-contenido:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.lista-de-contenido .lista-de-cursos {
    min-width: 310px;
    max-width: 550px;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin: 0 15px 50px;
    position: relative;

    transform: skewY(2deg);
}

.lista-de-contenido .lista-de-cursos .curso {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    transform: translate3d(0px, 55px, 0px) scale(1);
    z-index: 1;
}

.lista-de-contenido .lista-de-cursos .curso a {
    color: #fff;
    text-decoration: none;
}

.lista-de-contenido .lista-de-cursos .curso .etiqueta {
    height: 100%;
    width: 30px;
    border-radius: 0 5px 5px 0;
    -webkit-box-flex: 0;
    flex: 0 0 auto;

    line-height: 48px;
    font-weight: 600;
    white-space: nowrap;
    -webkit-box-direction: normal;
}

.contenedor-especial {
    width: 100%;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
}

.contenedor-especial .caja-especial {
    width: 200px;
    height: 200px;
    display: inline-block;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin: 0 15px 50px;
    position: relative;
    box-sizing: border-box;
    transform: skewY(2deg);
}

.contenedor-especial .caja-especial .imagen-especial {
    position: relative;
    /*overflow: hidden;*/
}

.contenedor-especial .caja-especial .imagen-especial img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    transition: transform 2s;
}

.contenedor-especial .caja-especial:hover .imagen-especial img {
    transform: scale(1.2);
}

.contenedor-especial .caja-especial .descripcion-especial {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5%;
}

.contenedor-especial .caja-especial:hover .descripcion-especial {
    transform: scaleY(1);
}

#curso-matematicas .curso .etiqueta {
    box-shadow: 8px 0 0 0 #110f0f;
    background-color: #383535;
}

#curso-fisica .curso .etiqueta {
    box-shadow: 8px 0 0 0 #5a20c6;
    background-color: #a233ec;
}

#curso-cs .curso .etiqueta {
    box-shadow: 8px 0 0 0 #383535;
    background-color: #696969;
}

#curso-quimica .curso .etiqueta {
    box-shadow: 8px 0 0 0 #20ad2b;
    background-color: #34ed43;
}

#curso-preuniversitario .curso .etiqueta {
    box-shadow: 8px 0 0 0 #c62121;
    background-color: #ef5151;
}

@media only screen and (min-width: 650px) {
    .server {
        width: 50%;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }

    .curso-container {
        margin: 0;
    }

    .blue-container {
        margin: 0;
    }

    .blue-container img {
        width: 10%;
    }

    #imagen-problema {
        width: 11%;
        margin-top: -6px;
    }

    .blue-container .container ul {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        margin-top: -1em;
        justify-content: space-evenly;/*a;adido*/
        align-items: center;
    }

    .blue-container .container ul li {
        margin-bottom: 0;
    }

    .blue-container .container ul li p {
        padding: 0 .8em;
    }

    .lista-de-contenido {
        margin: 0;
    }

    .gray-container ul {
        display: flex;
    }

    .nav-menu ul {
        width: 40%;
    }
}


@media only screen and (min-width: 875px) {
    .subhead {
        margin-bottom: 15%;
    }

    .blue-container ul {
        margin: 0 0 4% 0;
    }

    .gray-container ul {
        margin: 4% 0 0;
    }
}

@media only screen and (min-width: 1024px) {
    .cta {
        width: 50%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .container .logo {
        width: 100px;
        height: 62px;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    .nav-menu ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    .nav-menu ul li {
        float: left;
    }

    .nav-menu ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
    }

    .nav-menu ul li a:hover {
        background-color: inherit;
    }

    .scroll {
        width: 30px;
        animation: move 2s infinite alternate;
    }

    @keyframes move {
        0% {
            transform: translateY((0px));
        }
        100% {
            transform: translateY(20px);
        }
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        width: 70%;
    }

    .blue-container {
        padding: 7em 0 2em;
    }

    .blue-container ul li p, blockquote {
        font-size: 1.3em;
    }

    .gray-container {
        padding: 6em 0 4em;
    }

    .curso-container {
        padding: 2em 0 2em;
    }

    h2 {
        margin-top: 4em;
    }

    .blue-container img {
        width: 15%;
    }

    #imagen-problema {
        width: 8%;
        margin-top: -4px;
    }
}